.purchaseItem__item {
    margin: 10px;
    height: 25px;
}
.purchaseItem__button{
    font-size: 1em;
    padding: 0 15px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease-in;
}

.purchaseItem__button--succes:hover{
    transform: scale(1.3);
    color: green;
}
.purchaseItem__button--danger:hover{
    transform: scale(1.3);
    color: red;
}